@{
    ViewBag.Title = "Manage Account";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-lg-12">
        @Html.Partial("_ChangePasswordPartial")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
