@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Tile</title>
    <link rel="stylesheet" href="~/Content/tiler.css">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="~/Scripts/tests/namespace.js"></script>
    <script type="text/javascript" src="~/Scripts/tests/dot.js"></script>
    <script type="text/javascript" src="~/Scripts/tests/mover.js"></script>
    <script type="text/javascript" src="~/Scripts/tests/transformedimage.js"></script>
    <script type="text/javascript" src="~/Scripts/tests/opacitycontrol.js"></script>
    <script type="text/javascript" src="~/Scripts/tests/downloadcontrol.js"></script>
    <script type="text/javascript" src="~/Scripts/tests/affineoverlay.js"></script>
    <script type="text/javascript" src="~/Scripts/tests/editor.js"></script>
</head>
<body>
    <div id="map"></div>
</body>
</html>
