@{
    ViewBag.Title = "Create Person";
}

<div class="row">
    <div class="col-lg-12">
        @Html.EditorForModel()
    </div>
</div>

@section styles {
    <link href="~/Scripts/select2-3.5.1/select2.css" rel="stylesheet">
    <link href="~/Scripts/select2-3.5.1/select2-bootstrap.css" rel="stylesheet">    
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/select2-3.5.1/select2.js"></script>
    <script type="text/javascript" src="~/Scripts/navigator/models.js"></script>
    <script type="text/javascript" src="~/Scripts/navigator/person.js"></script>
}
