@{
    ViewBag.Title = "Office List";
}

<div class="row">
    <div class="col-lg-12">
        <form id="searchContainer" action="#" method="post" class="form-horizontal form-validate" role="form">
            <section class="panel">
                <header class="panel-heading">Find Offices</header>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <label class="control-label">Building</label>
                                </div>
                                <div class="col-lg-8">
                                    <select class="form-control" data-bind="options: searchModel.buildings, optionsValue: 'id', optionsText: 'name', value: searchModel.selectedBuildingId, optionsCaption: 'Select a Building...'"></select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <label class="control-label">Floor</label>
                                </div>
                                <div class="col-lg-8">
                                    <select class="form-control" data-bind="options: searchModel.floors, optionsValue: 'id', optionsText: 'description', value: searchModel.selectedFloorId, optionsCaption: 'Select a Floor...'"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="panel col-lg-12">
            <header class="panel-heading">Map</header>
            <div class="panel-body">
                <div id="map" style="height: 500px"></div>
            </div>
        </section>
    </div>
</div>

<div class="row" >
    <div class="col-lg-12">
        <section id="tmplContainer"class="panel col-lg-3">
            <form id="placeTmpl" action="#" method="post" class="form-horizontal form-validate" role="form">
                <div class="panel-body">
                    <!-- ko with: officeMap -->
                    <!-- ko with: selectedPoint -->
                    <!-- ko with: office -->
                        
                    <input type="hidden" data-bind="value: id" />
                    <input type="hidden" data-bind="value: floorMapId" />
                    <input type="hidden" data-bind="value: latitude" />
                    <input type="hidden" data-bind="value: longitude" />
                    <div class="form-group">
                        <label class="sr-only">Name</label>
                        <input placeholder="Enter Name" class="form-control" id="DisplayName" name="DisplayName" type="text" data-bind="value: displayName, css: { error: typeof ($parents[1].errors.displayName()) !== 'undefined' }" data-val="true" data-val-required="'Name' should not be empty." aria-required="true" aria-describedby="Name-error">
                        <label data-valmsg-replace="true" data-valmsg-for="DisplayName" data-bind="text: $parents[1].errors.displayName" class="error"></label>
                        
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Number</label>
                        <input placeholder="Enter Number" id="OfficeNumber" class="form-control" name="OfficeNumber" type="text" data-bind="value: officeNumber, css: { error: typeof ($parents[1].errors.officeNumber()) !== 'undefined' }">
                        <label data-valmsg-replace="true" data-valmsg-for="OfficeNumber" data-bind="text: $parents[1].errors.officeNumber" class="error"></label>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Type</label>
                        <select id="OfficeType" name="OfficeType" class="form-control" data-bind="options: $root.officeTypes, optionsValue: 'id', optionsText: 'description', value: officeType, css: { error: typeof ($parents[1].errors.officeType()) !== 'undefined' }"></select>
                        <label data-valmsg-replace="true" data-valmsg-for="OfficeType" data-bind="text: $parents[1].errors.officeType" class="error"></label>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <a href="#" data-bind="click: $parents[1].officeCancel" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary" data-bind="click: $parents[1].officeSave, enable: !$parent.isNew(), visible: !$parent.isNew()">Save</button>
                            <button type="submit" class="btn btn-primary" data-bind="click: $parents[1].officeCreate, enable: $parent.isNew(), visible: $parent.isNew()">Create</button>
                        </div>
                    </div>
                      <!-- /ko -->
                      <!-- /ko -->
                     <!-- /ko -->
                </div>
            </form>
        </section>
    </div>
</div>


@section scripts 
{
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true&libraries=places"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/wayfinding/models.js"></script>
    <script type="text/javascript" src="~/Scripts/wayfinding/office.js"></script>
}

@section dialogs
{
}

